<div class="main">
  <div class="title">
    <app-page-header/>
  </div>

  <div class="intro">
    <div class="header">
      <h2>{{ "公告" }}</h2>
    </div>
    <div class="content">
      <p>{{ "欢迎来到我们的网站！在这里你可以看到一些艺术展览品，另外也可以进行答题获得积分，积分可以在积分商城兑换奖励，祝你玩得开心！" }}</p>
    </div>
  </div>

  <div class="bottom">

    <div class="personalInfo">
      <div class="header">
<!--        <img src="./assets/1.jpg" alt="Avatar">-->
        <img src="{{personalInfo.avatar}}" alt="Avatar">
      </div>
      <div class="info">
        <h2>{{personalInfo.userID}}</h2>
        <p>学号:{{personalInfo.stuNum}}</p>
        <p>电话:{{personalInfo.phone}}</p>
        <p>姓名:{{personalInfo.name}}</p>
        <p>邮箱:{{personalInfo.email}}</p>
        <p>积分:{{personalInfo.score}}</p>
        <p>今日积分:{{personalInfo.todayScore}}</p>
      </div>
    </div>

    <div class="problem">
      <div class="room">
        <mat-form-field appearance="fill">
          <mat-label>请选择房间</mat-label>
          <mat-select [(value)] = "roomSelect">
            <mat-option *ngFor="let room of rooms" [value]="room.value">
              {{room.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="submitRoom()">进入学习</button>
      </div>

      <div class="topic">
        <mat-form-field appearance="fill">
          <mat-label>请选择主题</mat-label>
          <mat-select [(value)] = "topicSelect">
            <mat-option *ngFor="let topic of topics" [value]="topic.value">
              {{topic.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="submitTopic()">进入答题</button>
      </div>
    </div>
  </div>
</div>
