<div class="main">
  <div class="title">
    <app-page-header/>
  </div>

  <div class="intro">
    <div class="header">
      <h2>{{ "公告" }}</h2>
    </div>
    <div class="content">
      <p>{{ "答题可以获得积分奖励！加油冲！" }}</p>
    </div>
  </div>

  <div class="bottom">

    <div class="personalInfo">
      <div class="header">
        <img src="./assets/1.jpg" alt="Avatar">
      </div>
      <div class="info">
        <h2>{{personalInfo.userID}}</h2>
        <p>学号:{{personalInfo.stuNum}}</p>
        <p>电话:{{personalInfo.phone}}</p>
        <p>姓名:{{personalInfo.name}}</p>
        <p>邮箱:{{personalInfo.email}}</p>
        <p>积分:{{personalInfo.score}}</p>
        <p>今日积分:{{personalInfo.todayScore}}</p>
      </div>
    </div>

    <div class="question">
      <h2 class="title">{{ questionInfo.title }}</h2>
      <img src="{{questionInfo.image}}" class="img"/>
      <div class="options">
        <div class="option" *ngFor="let option of options">
          <input type="radio" [value]="option" [(ngModel)]="selectedOption">
          <label>{{ option }}</label>
        </div>
      </div>
      <button mat-raised-button color="primary" style="margin-top: 20px" (click)="submitAnswer()">提交答案</button>
    </div>
  </div>
</div>
